/* .container {
  background-image: url("https://cdn1.ntv.com.tr/gorsel/dkbsKns-pU29stAqrhss4g.jpg?width=1000&mode=crop&scale=both");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */

body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
}
